@font-face{
    font-family:Raleway;
    src:url(fonts/11855.ttf);
}
@font-face{
    font-family:Yantarmanav;
    src:url(fonts/Yantarmanav.ttf);
}

body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:#191e3f;
	overflow-x:hidden;

}

.header{
	background-image:url("img/mountains header.png");
	max-height:1200px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	/*border:2px solid red;*/
	padding-bottom:500px;
}

.navigation{
	width:80%;
	margin:0 auto;
	padding-top:60px;
	display:flex;
	/*border:2px solid white;*/
}

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url("img/icon_top.png") no-repeat;
}

.logo{
	margin:0 auto;
}

.menu{
    margin-top:25px;
}

.menu-burger{
	display:none;
	position:absolute;
	width:30%;
	/*background-color:#43465d;*/
	margin-top:65px;
	background: rgba(67,70,93, 0.6);

}

.menu-burger{
    list-style-type:none;
}


.menu-burger a{
	text-decoration:none;
	font-family:Raleway;
	color:white;
	font-size:20px;
	padding-left:60px;
}

.menu-burger a:hover{
	font-weight:bold;
}

.btn{
	border:none;
	background-color:#43465d;
	cursor:pointer;
}

.header-text{
	margin-top:200px;
	font-family:Raleway;
	/*font-weight:100;*/
	text-align:center;
	/*border:2px solid white;*/
	font-size:72px;
	color:#fff;
}

.mask{
	position:relative;
	height:770px;
	/*border:2px solid red*/
}

.mountain-block{
	position:relative;
	width:100%;
	position:relative;
	max-height:974px;
	margin-top:-215px;
/*	border:2px solid green;*/
}

.mountain{
	margin:0 auto;
	height:655px;
	width:655px;
	background-color:#191e3f;
	background-image:url("img/mountains.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
/*	border:2px solid white;*/
	z-index:1;
}

.mountain:hover{
	transform: scale(1.3);
	transition:2s;
}

.mountain:not(:hover) {
  transition: 2s;
}

.mountain-number p{
	position:absolute;
/*	border:2px solid red;*/
	margin-left:240px;
	z-index:100;
}


.mountain-number p{
    font-family:Yantarmanav;
    font-size:200px;
    color:#1c2141;
}

.mountain-number span{
	/*border:1px solid red;*/
	padding-top:15px;
	letter-spacing:1px;
    font-family:Raleway;
    font-size:20px;
    color:#fff;
    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.mountain-text{
	position:absolute;
	margin-left:800px;
	margin-top:-450px;
	font-family:Raleway;
	color:white;
	font-size:19px;
	width:520px;
/*	border:2px solid red;*/
}

.projects{
	/*max-height:1000px;*/
	padding-bottom:300px;
	background:url("img/projects background2.png");
	margin-top:-50px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
/*	border:2px solid red;*/
}

.projects-info{
	display:flex;
	width:80%;
	margin:0 auto;
	height:400px;
	/*border:2px solid red;*/
	padding-top:100px;
	margin-top:135px;
	padding-bottom:200px;
}

.icons{
	width:72%;
	height:400px;
/*	border:2px solid green;*/
}

.projects-number{
	width:28%;
	height:400px;
/*	border:2px solid blue;*/
	align-items:center;
}

.projects-number p{
	font-family:Yantarmanav;
    font-size:150px;
    color:#1c2141;
/*    border:2px solid white;*/
    /*padding-left:100px;*/
}

.projects-number span{
	/*border:1px solid red;*/
	padding-top:15px;
	letter-spacing:1px;
    font-family:Raleway;
    font-size:20px;
    color:#fff;
    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.icons img{
	width:20%;
	cursor:pointer;
}

.icons img:hover{
	transform: scale(1.3);
	transition:1s;
}

.icons img:not(:hover) {
  transition: 2s;
}

.icons-first{
	display:flex;
	height:200px;
	justify-content:space-around;
	align-items:center;
/*	border:2px solid yellow;*/
}

.icons-second{
	display:flex;
	height:200px;
	justify-content:space-around;
	align-items:center;
}

.team{
	background-image: url("img/T.png");
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	
}

.team-section-first{
	display:flex;
	width:100%;
}

.team-number{
	margin:0 auto;
	width:20%;
}

.first-person{
	width:80%;
}

.team-number p{
	font-family:Yantarmanav;
    font-size:150px;
    color:#1c2141;
}

.team-number span{
    padding-top:15px;
	letter-spacing:1px;
    font-family:Raleway;
    font-size:20px;
    color:#fff;
    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.photo-first{
	margin-top:200px;
	margin-left:200px;
    height:650px;
    width:650px;
    background:url("img/first-person.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    z-index:1;
}

.team-text-first{
	position:absolute;
	width:420px;
	margin-left:50px;
	margin-top:300px;
    font-family:Raleway;
    color:#9b9ca4;
    z-index:100;
}

.name{
	font-size:28px;
	color:#ebebed;
}

.about{
	font-size:19px;
}

.photo-first:hover{
	transform: scale(1.1);
	transition:1s;
}

.photo-first:not(:hover) {
  transition: 1s;
}

.team-section-second{
	display:flex;
	height:700px;
}

.second-person, .third-prson{
	width:50%;
}

.second-photo{
	margin-left:100px;
	height:400px;
	width:400px;
	background:url("img/socond-person.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.third-photo{
	margin-top:200px;
	margin-left:100px;
	height:400px;
	width:400px;
	background:url("img/person-third.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.second-text{
	position:absolute;
	margin-left:330px;
	margin-top:-330px;
	font-family:Raleway;
    color:#9b9ca4;
}

.third-text{
	position:absolute;
	margin-top:-300px;
	font-family:Raleway;
    color:#9b9ca4;
}

.forth-photo{
	height:400px;
	width:400px;
	margin-top:50px;
	margin-left:300px;
	background:url("img/person4.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.fifth-photo{
	height:400px;
	width:400px;
	margin-top:150px;
	background:url("img/person5.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.forth-text{
	position:absolute;
	margin-top:-300px;
	margin-left:200px;
	font-family:Raleway;
    color:#9b9ca4;
}


.fifth-text{
	position:absolute;
	margin-top:-250px;
	margin-left:200px;
	font-family:Raleway;
    color:#9b9ca4;
}

.events{
	max-height:950px;
	background:url("img/events .png");
	background-color:#191e3f;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom:20px;
}

.events-number{
	text-align:center;
}

.events-number p{
	font-family:Yantarmanav;
    font-size:150px;
    color:#1c2141;
}

.events-number span{
    padding-top:15px;
	letter-spacing:1px;
    font-family:Raleway;
    font-size:20px;
    color:#fff;
    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.events-text{
	margin-top:-100px;
    /*border:2px solid red;*/
	margin-left:300px;
	width:500px;
	font-family:Raleway;
	color:#9b9ca4;
	font-size:19px;
}

.main{
	font-family:Raleway;
	color:white;
}

.footer{
	margin-top:50px;
	margin-bottom:0;
}

.footer-logo{
	text-align:center;
}

.footer-menu{
	display:flex;
	justify-content:space-around;
	width:30%;
	margin:0 auto;
	margin-top:30px;
	list-style-type:none;
}

.footer-menu a{
	text-decoration:none;
	font-family:Raleway;
	color:white;
}

.footer-menu a:hover{
	font-weight:bold;
}

.footer-text{
	font-family:Raleway;
	text-align:center;
	color:white;
}

@media(max-width:1450px){
	.header{
	padding-bottom:450px;
}
    .mountain:hover{
	transform: scale(1.1);
	transition:2s;
}
    .mountain-number{
	margin-left:-100px;
}
}

@media(max-width:1350px){
	.mountain-text{
	margin-left:800px;
	margin-top:-450px;
	font-size:19px;
	width:400px;
}
}

@media(max-width:1250px){
	.navigation{;
	padding-top:20px;
}

.menu-burger{
	margin-top:20px;
}
    .header-text{
	margin-top:150px;
	font-size:64px;

}

.mountain-number p{
	font-size:150px;
}
.mountain-number span{
    font-size:15px;
}

.mountain-text{
	margin-left:700px;
	margin-top:-450px;
	font-size:15px;
	width:300px;
}

.projects{
	padding-bottom:100px;
}

.projects-info{
	padding-top:100px;
}

.team-number p{
    font-size:100px;
}
.team-number span{
    padding-top:10px;
}

.photo-first{
	margin-left:150px;
}

.fifth-photo{
	margin-top:400px;
}

.fifth-text{
	margin-left:0;
}

.events-text{
	margin:0 auto;
	margin-top:-100px;
	width:500px;
	font-size:15px;
}

}



@media(max-width:1050px){
	.navigation{;
	padding-top:10px;
}
    .header-text{
	margin-top:100px;
	font-size:54px;

}

    .projects{
	margin-top:-120px;
}
    .mountain:hover{
	transform: scale(1);
	transition:2s;
}
	.header{
	padding-bottom:350px; 
}

   .mountain{
	height:555px;
	width:555px;
}

    .mountain-block{
	margin-top:-115px;
}

   .mountain-text{
	margin-left:400px;
	margin-top:-250px;
	font-size:15px;
	width:300px;
}

.mountain-number p{
	font-size:100px;
}
.mountain-number span{
    font-size:10px;
}

    .projects-info{
	display:block;
    padding-top:50px;
}

   .icons{
   	display:flex;
   	width:100%;
	height:100px;
}

   .icons img{
	width:25%;
}

.projects-number{
	float:right;
	width:40%;
	height:200px;
}

.projects-number p{
    margin-top:50px;
}

.icons-first{
	height:100px;
}

.icons-second{
	height:100px;
}

.events-number p{
    font-size:100px;
}

.events-number span{
    padding-top:15px;
    font-size:15px;
}


}

@media(max-width: 950px){
	.header{
	padding-bottom:150px;
}
    .mountain-number{
    position:static;
    margin-left:-200px;
}

    .projects{
	padding-bottom:10px;
	height:600px;
}

    .mountain-block{
	margin-top:1px;
}
    .projects-info{
	width:100%;
	margin-top:30px;
}
.team-section-first{
	display:block;
}

.team-number p{
	margin-top:10px;
	margin-bottom:10px;
}

.team-number{
	width:100%;
}

.first-person{
	width:100%;
}

.photo-first{
	margin-top:10px;
	margin:0 auto;
}

.team-section-second{
	display:block;
	height:600px;
}

.second-person{
	width:100%;
}

.third-person{
	width:100%;
}

.second-photo{
	margin:0 auto;
	margin-top:10px;
}

.second-person{
	height:270px;
}

.third-photo{
	margin:0 auto;
	margin-top:40px;
}
.third-person{
	height:300px;
}

.forth-photo{
	margin:0 auto;
}

.fifth-photo{
	margin:0 auto;
	margin-top:10px;
}
}

@media(max-width:770px){
    .header-text{
	margin-top:50px;
	font-size:34px;
}

   .mountain-text{
	margin-left:200px;
	margin-top:-250px;
	font-size:15px;
	width:300px;
}

.mountain-number p{
	font-size:70px;
}
.mountain-number span{
    font-size:8px;
    padding-top:3px;
}
.projects-number p{
    font-size:100px;
}

.projects-number span{
	padding-top:15px;
    font-size:15px;
}
    .projects{
    height:500px;
	padding-bottom:50px;
}

.photo-first{
	height:450px;
	width:450px;
}
.team-text-first{
	width:350px;
	margin-left:30px;
	margin-top:160px;
	font-size:14px;
}

.photo-first:hover{
	transform: scale(1);
	transition:1s;
}

    .events-number{
	margin-top:-100px;
}

    .footer{
	margin-top:20px;
}

    .events{
    	margin-top:200px;
    }
}

@media(max-width:570px){
	.mountain{
	height:455px;
	width:455px;
}

.menu-burger{
	margin-top:5px;
	font-size:10px;
}

    .logo img{
    width:90px;
    height:56px;
    }

    .mountain-text{
	margin-left:150px;
	margin-top:-200px;
	font-size:15px;
	width:300px;
}
    .header-text{
	margin-top:40px;
	font-size:24px;
}
    .header{
	padding-bottom:100px;
}

.projects-number{
	height:100px;
}

.projects-number p{
    font-size:70px;
}

.projects-number span{
	padding-top:10px;
    font-size:9px;
}
    .projects{
	padding-bottom:1px;
	height:350px;
}

.events-number p{
    font-size:70px;
}

.events-number span{
    padding-top:7px;
    font-size:8px;
}

    .second-text{
	margin-left:230px;
	margin-top:-330px;
}

    .events{
    	margin-top:200px;
    }

    .events-text{
    	padding-top:15px;
    	width:400px;
    }

    .footer-menu{
	margin-top:10px;
}

    .main{
    	font-size:12px;
    }
}

@media (max-width: 400px){
	.header-text p{
       font-size:16px;
	}

	.menu-burger a{
	font-size:16px;
	padding-left:20px;
}

    .menu-burger{
    	margin-top:10px;
    }

    .mountain{
    	width:350px;
    	height:350px;
    }

    .mountain-text{
    	padding-top:70px;
    	width:200px;
    }

    .mask{
	height:600px;
}

    .projects-number{
    	margin-top:-30px;
    }

    .projects{
    	height:250px;
    }

    .team-number p{
        font-size:100px;
    }

    .photo-first{
    	height:350px;
    	width:350px;
    }
    
    .team-section-first{
    	padding-bottom:100px;
    }

    .third-text, .fifth-text{
    	margin-left:20px;
    }

    .events-text{
    	width:90%;
    	width:330px;
    }

    .events-text h1{
        font-size:21px;
    }

    .events-text p{
    	font-size:12px;
    }

    .footer-menu li{
    	padding-right:10px;
    }
}
